@inherits LayoutComponentBase

<PageTitle>Admin</PageTitle>

 <div class="page">
        <div class="sidebar">
            <Administration></Administration>
        </div>
    <main>
      
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
